.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEE;
    font-size: 40px;
    background-image: url("logo.gif");
    height: 20vh;
    min-height: 230px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    position: sticky;
    top: 0px;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
}
#right{
    margin-left: auto;
}
.menu-btn:hover{
    background-color: white;
    color: black;
}
section h2 span{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 10px 55px;
    border-radius: 20px;
    color: darkgray;
}
section{
    text-align: center;
    padding-top: 40px;
}
section:nth-child(even){
    background-color: #ececec;
}
h2{
    padding-bottom: 40px;
}
.oio{
    padding-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
footer{
    background-color: #333;
    overflow: hidden;
}
.copyright{
    float: right;
    font-size: 20px;
}
section h5{
    margin: 0px 130px;
}
.carousel {
    background: #EEE;
  }
video[poster]{
    object-fit: cover;
}
  .carousel-cell {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
  }
  video{
    height: 50vh;
  }
poster{
    width: 10%;
}
h2{
    font-size: 35px;
}
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    position: relative;
  } 
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 80%;
    height: 50%;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
section:nth-child(odd){
    padding-bottom: 80px;
}
.me{
    border-radius: 50%;
    margin-bottom: 20px;
}
a.icon{
    background-color: black;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: 5px 10px;
}
@media(max-width:700px){
    nav{
        text-align: center;
        flex-direction: column;
        position: relative;
    }
    #right{
        margin-left: 0;
    }
}